bin/Debug/*
build-debug/*
build-release/*
bin/Release/*
lib/*
*.pyc

bin/ac3dreader

bin/actionctl

bin/advgeom

bin/bmfonts

bin/controllers

bin/cube

bin/culling

bin/data

bin/fibrescope

bin/fly

bin/gleextrusion

bin/handlers

bin/imui

bin/lighting

bin/lod

bin/manip

bin/math

bin/objframe

bin/overlay

bin/placement

bin/robot

bin/robot_events

bin/robot2

bin/selection

bin/texture

bin/viewports

build/
